
<div *ngIf="!submitted" class="red-text center error-message">
  <i class="material-icons">error</i> Incorrect sername or password
</div>
<div class="row">
  <div class="col s12 m6 offset-m3">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <div class="row">
          <div class="input-field col s12">
            <i class="material-icons prefix">person</i>
            <input formControlName="login"  type="text" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.login.errors }"/>
            <div *ngIf="submitted && f.login.errors" class="invalid-feedback">
                <div *ngIf="f.login.errors.required">Login is required</div>
            </div>
            <label for="login">Login</label>
          </div>
        </div>
      </div>
        
      <div class="form-group">
        <div class="row">
          <div class="input-field col s12">
            <i class="material-icons prefix">lock_outline</i>
            <input  type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
            <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                <div *ngIf="f.password.errors.required">Password is required</div>
            </div>
            <label for="password">Password</label>
          </div>
        </div>
        
        <div class="row">
          <button [disabled]="!loginForm.valid" class="col m6 offset-m3 btn  btn validate">Submit
            <i class="material-icons right">send</i>
          </button>
        </div>

      </div>
    </form>
    <p class="center">
      <a (click)="toSingUp()" enable-tabs="true"  routerLink="/singup">Sing Up</a>
    </p>
  </div>
    
</div>
