<div class="row">
  <div class="col s12">
      <input class="input-field col s12 m12" type="textarea" value="{{valueee}}">
    <form id="addForm" [formGroup]="addForm" (ngSubmit)="onSubmit()">
        <div class="input-field col s12 m2">
            <select (change)="onChangeType($event.target.value)" formControlName="transportType" id="transportType" class="form-control">
              <option value="" disabled selected translate>transportType</option>
              <option *ngFor="let transportType of aaTransportTypes" value="{{transportType.name}}">
                {{transportType.name | translate}}</option>
            </select>
        </div>
        <div class="input-field col s12 m2">
            <select (change)="onChangeBrand($event.target.value)" formControlName="brand" id="brand" class="form-control">
              <option value="" disabled selected translate>brand</option>
              <option *ngFor="let brand of currentBrands" value="{{brand.name}}">
                {{brand.name || translate}}</option>
            </select>
        </div>

        <div class="input-field col s12 m2">
            <select  formControlName="model" id="model" class="form-control">
              <option value="" disabled selected translate>model</option>
              <option *ngFor="let model of currentModels" value="{{model.name}}">
                  {{model.name | translate}}</option>
            </select>
        </div>

        <div class="input-field col s12 m2">
            <input formControlName="price" id="price" data-length="9" maxlength="9" type="text" class="form-control">
            <label for="price" translate>price</label>
        </div>
        <div class="input-field col s12 m2">
            <input formControlName="power" id="power" data-length="9" maxlength="9" type="text" class="form-control">
            <label for="power" translate>power</label>
        </div>
        <div class="input-field col s12 m2">
            <select formControlName="year" id="year" class="form-control">
              <option value="" disabled selected translate>year</option>
              <option *ngFor="let yer of years" value="{{yer.value}}">{{yer.name}}</option>
            </select>   
        </div>

        <div class="input-field col s12 m2">
            <input formControlName="mileage" id="mileage" data-length="9" maxlength="9" type="text" class="form-control">
            <label for="mileage" translate>mileage</label>
        </div>

        <div formArrayName="separated"
          *ngFor="let sep of separatedForm.controls; let i = index;">
          <div [formGroupName]="i">
            <div class="col s12 m2">
              <ng-container *ngIf="SeparatedName(i).type === 'dropdown'; then dropDownTemplate;"></ng-container>
              <ng-container *ngIf="SeparatedName(i).type === 'checkbox'; then checkBoxTemplate;"></ng-container>
              <ng-container *ngIf="SeparatedName(i).type === 'switch'; then checkBoxTemplate;"></ng-container>
              <ng-template #dropDownTemplate>

                <select formControlName="{{SeparatedName(i).name}}" id="{{SeparatedName(i).name}}" class="form-control">
                  <option value="" disabled selected>{{SeparatedName(i).name || translate}}</option>
                  <option *ngFor="let value of SeparatedName(i).values" value="{{value.name}}">
                    {{value.name || translate}}</option>
                </select>

              </ng-template>
              <ng-template #checkBoxTemplate>

                <label>
                  <input formControlName="{{SeparatedName(i).name}}" value='false' type="{{SeparatedName(i).type}}" class="form-control">
                  <span>{{SeparatedName(i).name || translate}}</span>
                </label>

              </ng-template>
              <ng-template #checkBoxTemplate>
                <div class="class switch">
                  <label>
                      {{SeparatedName(i).name+'_first_value' || translate}}
                      <input formControlName="{{SeparatedName(i).name}}" id="{{SeparatedName(i).name}}" class="form-control" type="checkbox">
                      <span class="lever"></span>
                      {{SeparatedName(i).name+'_second_value' || translate}}
                  </label>
                </div>
              </ng-template>

            </div>
          </div>
        </div>
        <div class="row">
            <button class="col m2 offset-m2 btn btn validate">Submit
              <i class="material-icons right">send</i>
            </button>
        </div>
    </form>
  </div>
</div>
