<div class="row singup">
  <div class="col s12">
    <ul class="tabs z-depth-1">
        <li id="tab1" class="tab col s6 center"><a class="active" href="#fizic">Persoana fizica</a></li>
        <li id="tab2" class="tab col s6 center"><a href="#juridic">Persoana juridica</a></li>
    </ul>
  </div>
  <div id="fizic" class="col s12">
    <div class="row">
      <div class="input-field col s12">
          <textarea id="textarea1" class="materialize-textarea" value="{{value}}"></textarea>
      </div>
      <div class="col s12">
        <form [formGroup]="singUpFizicForm" (ngSubmit)="onSubmitFizic()">
          <div class="form-group">
                <div class="input-field col s12 m6">
                  <i class="material-icons prefix">person</i>
                  <input formControlName="name" id="name" type="text" class="form-control" [ngClass]="{ 'is-invalid': submitted_fizic && f.name.errors }"/>
                  <div *ngIf="submitted_fizic && f.name.errors" class="invalid-feedback">
                      <div *ngIf="f.name.errors.required">Name is required</div>
                      <div *ngIf="f.name.errors.name">Name must be a valid</div>
                  </div>
                  <label for="name">Name</label>
              </div>
          </div>
          <div class="form-group">
                <div class="input-field col s12 m6">
                  <i class="material-icons prefix">person</i>
                  <input formControlName="login" id="login" type="text" class="form-control" [ngClass]="{ 'is-invalid': submitted_fizic && f.login.errors }"/>
                  <div *ngIf="submitted_fizic && f.login.errors" class="invalid-feedback">
                      <div *ngIf="f.login.errors.required">login is required</div>
                      <div *ngIf="f.login.errors.login">login must be a valid</div> 
                  </div>
                  <label for="login">Login</label>
              </div>
          </div>

          <div class="form-group">
              <div class="input-field col s6">
                <i class="material-icons prefix">lock_outline</i>
                <input  id="password" type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted_fizic && f.password.errors }" />
                <div *ngIf="submitted_fizic && f.password.errors" class="invalid-feedback">
                    <div *ngIf="f.password.errors.required">Password is required</div>
                    <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
                </div>
                <label for="password">Password</label>
              </div>
          </div>
          <div class="form-group">
            <div class="input-field col s12 m6">
              <input  id="confirmPass" type="password" formControlName="confirmPass" class="form-control" [ngClass]="{ 'is-invalid': submitted_fizic && f.confirmPass.errors }" />
              <div *ngIf="submitted_fizic && f.confirmPass.errors" class="invalid-feedback">
                <div *ngIf="f.confirmPass.errors.required">Password is required</div>
                <div *ngIf="f.confirmPass.errors.notEquivalent">Password is not iquivalent</div>
              </div>
              <label for="confirmPass">Password Repeat</label>
            </div>
          </div>
          <div class="form-group">
            
              <div class="input-field col s12">
                <i class="material-icons prefix">phone</i>
                <input formControlName="phone" id="phone" type="tel" class="form-control" [ngClass]="{ 'is-invalid': submitted_fizic && f.phone.errors }"/>
                <div *ngIf="submitted_fizic && f.phone.errors" class="invalid-feedback">
                    <div *ngIf="f.phone.errors.required">phone is required</div>
                    <div *ngIf="f.phone.errors.phone">phone must be a valid</div>
                </div>
                <label for="phone">phone</label>
              </div>
            
          </div>

          <div class="form-group">
              <div class="input-field col s12">
                <i class="material-icons prefix">email</i>
                <input formControlName="email" id="email" type="email" class="form-control" [ngClass]="{ 'is-invalid': submitted_fizic && f.email.errors }"/>
                <div *ngIf="submitted_fizic && f.email.errors" class="invalid-feedback">
                    <div *ngIf="f.email.errors.required">Email is required</div>
                    <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                </div>
                <label for="email">Email</label>
              </div>
          </div>
          <div *ngIf="httpValidation" class="row">
            <div *ngFor="let errorValidation of httpValidation" class="col s12">
              <label>*{{errorValidation}}</label>
            </div>
          </div>
          <div class="form-group">            
            <div class="row">
              <button [disabled]="singUpFizicForm.invalid" class="col m6 offset-m3 btn  btn validate">Submit
                <i class="material-icons right">send</i>
              </button>
            </div>
          </div>
        </form>
      </div>


    </div>  
  </div>
  <div id="juridic" class="col s12">
    <app-singupjuridic></app-singupjuridic>
  </div>
</div>