<nav class="nav-extended">
  <div class="nav-wrapper red">
    <a routerLink="/" class="brand-logo">iCars</a>
    <a href="#" data-target="mobile-nav" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a routerLink="/add" ><i class="material-icons">add</i></a></li>
      <!-- Dropdown Trigger -->
      <li><a id="login" class="dropdown-trigger" data-target="login_dropdown" translate>login<i class="material-icons right">arrow_drop_down</i></a></li>
      <!-- Dropdown Trigger -->
      <li><a class="dropdown-trigger" data-target="language">{{currentLang | translate}}<i class="material-icons right">arrow_drop_down</i></a></li>
    </ul>
  </div>

</nav>

      
<ul id="mobile-nav" class="sidenav">
    <li><a class="sidenav-close" href="#!">Clicking this will close Sidenav</a></li>
    <li><a routerLink="/add" >New Ads<i class="material-icons">add</i></a></li>
    <!-- Dropdown Trigger -->
    <li><a id="login" class="dropdown-trigger" data-target="login_dropdown_sidenav" translate>login<i class="material-icons right">arrow_drop_down</i></a></li>
    <!-- Dropdown Trigger -->
    <li><a class="dropdown-trigger" data-target="language_sidenav">{{currentLang | translate}}<i class="material-icons right">arrow_drop_down</i></a></li>
</ul>


<!-- Dropdown Structure -->
<ul id="login_dropdown" class="dropdown-content">
  <li *ngIf="isLogin()"><a >{{User.login}}</a></li>
  <li *ngIf="isLogin()"><a routerLink="/profile">Profile</a></li>
  <li *ngIf="isLogin()"><a (click)="Logout()" translate>Logout</a></li>
  <li *ngIf="!isLogin()"><a data-target="login_modal" class="modal-trigger" href="#login" translate>Login</a></li>
</ul>

<!-- Dropdown Structure -->
<ul id="login_dropdown_sidenav" class="dropdown-content">
    <li *ngIf="isLogin()"><a >{{User.login}}</a></li>
    <li *ngIf="isLogin()"><a routerLink="/profile">Profile</a></li>
    <li *ngIf="isLogin()"><a (click)="Logout()" translate>Logout</a></li>
    <li *ngIf="!isLogin()"><a data-target="login_modal" class="modal-trigger" href="#login" translate>Login</a></li>
  </ul>

<!-- Dropdown Structure -->
<ul id="language" class="dropdown-content">
  <li><a (click)="switchLanguage('ro')">Ro</a></li>
  <li><a (click)="switchLanguage('ru')">Ru</a></li>
</ul>

<!-- Dropdown Structure -->
<ul id="language_sidenav" class="dropdown-content">
  <li><a (click)="switchLanguage('ro')">Ro</a></li>
  <li><a (click)="switchLanguage('ru')">Ru</a></li>
</ul>

<!-- Modal Structure -->
<div id="login_modal" class="modal">
  <div class="modal-content">
    <h4>Login</h4>
    <app-login></app-login>
  </div>
</div>

<div class="row">
    <router-outlet></router-outlet>
</div>

