
<!-- Navbar goes here -->

<!-- Page Layout here -->
<div class="row">

    <div class="col s12 m3 l2 blue-grey lighten-2 z-depth-1" style="overflow-y: scroll; height:auto;"> <!-- Note that "m4 l3" was added -->
      <ul id="profile-nav">
          <li><a class="white-text" routerLink="/profile/settings">Settings</a></li>
          <li><a class="white-text" routerLink="/profile/settings">Settings</a></li>
          <li><a class="white-text" routerLink="/profile/settings">Settings</a></li>
          <li><a class="white-text" routerLink="/profile/settings">Settings</a></li>
          <li><a class="white-text" routerLink="/profile/settings">Settings</a></li>
          <li><a class="white-text" routerLink="/profile/settings">Settings</a></li>
          <li><a class="white-text" routerLink="/profile/settings">Settings</a></li>
          <li><a class="white-text" routerLink="/profile/settings">Settings</a></li>
          <li><a class="white-text" routerLink="/profile/settings">Settings</a></li>
          <li><a class="white-text" routerLink="/profile/settings">Settings</a></li>
          <li><a class="white-text" routerLink="/profile/settings">Settings</a></li>
          <li><a class="white-text" routerLink="/profile/settings">Settings</a></li>
          <li><a class="white-text" routerLink="/profile/settings">Settings</a></li>
          <li><a class="white-text" routerLink="/profile/settings">Settings</a></li>
          <li><a class="white-text" routerLink="/profile/settings">Settings</a></li>
      </ul>
      <!-- Grey navigation panel

            This content will be:
        3-columns-wide on large screens,
        4-columns-wide on medium screens,
        12-columns-wide on small screens  -->

    </div>

    <div class="col s12 m9 l10"> <!-- Note that "m8 l9" was added -->
      <!-- Teal page content

            This content will be:
        9-columns-wide on large screens,
        8-columns-wide on medium screens,
        12-columns-wide on small screens  -->

    </div>

  </div>
        