<div class="row">
    <div class="input-field col s12">
        <textarea id="textarea1" class="materialize-textarea" value="{{value}}"></textarea>
    </div>
    <div class="col s12">
    <form id="singupForm" [formGroup]="singUpJuridicForm" (ngSubmit)="onSubmitJuridic()">
        <div class="form-group">
          <div class="input-field col s12 m6">
            <input formControlName="email"  type="email" class="form-control" [ngClass]="{ 'is-invalid': submitted_juridic && f.email.errors }"/>
            <div *ngIf="submitted_juridic && f.email.errors" class="invalid-feedback">
              <div *ngIf="f.email.errors.required">Email is required</div>
              <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
            </div>
            <label for="email">Email</label>
          </div>
  
          <div class="input-field col s12 m6">
            <input formControlName="login"  type="text" class="form-control" [ngClass]="{ 'is-invalid': submitted_juridic && f.login.errors }"/>
            <div *ngIf="submitted_juridic && f.login.errors" class="invalid-feedback">
              <div *ngIf="f.login.errors.required">login is required</div>
              <div *ngIf="f.login.errors.login">login must be a valid</div>
            </div>
            <label for="login">Login</label>
          </div>
  
  
          <div class="input-field col s12 m6">  
            <input formControlName="phone" type="tel" class="form-control" [ngClass]="{ 'is-invalid': submitted_juridic && f.phone.errors }"/>
            <div *ngIf="submitted_juridic && f.phone.errors" class="invalid-feedback">
              <div *ngIf="f.phone.errors.required">phone is required</div>
              <div *ngIf="f.phone.errors.phone">phone must be a valid</div>
            </div>
            <label for="phone">phone</label>
          </div>
  
          <div class="input-field col s12 m6">
            <select formControlName="municipality" id="municipality" class="form-control">
              <option value="" disabled selected>Муницыпий</option>
              <option value="chisinau">Кишинев</option>
            </select>
          </div>
  
          <div class="input-field col s12 m6">
            <select formControlName="city" id="city" class="form-control">
              <option value="" disabled selected>Город</option>
              <option value="chisinau">Кишинев</option>
            </select>
          </div>
  
          <div class="input-field col s12 m6">
            <input formControlName="address" id="address" type="text" class="form-control" [ngClass]="{ 'is-invalid': submitted_juridic && f.address.errors }"/>
            <div *ngIf="submitted_juridic && f.address.errors" class="invalid-feedback">
              <div *ngIf="f.address.errors.required">Address is required</div>
              <div *ngIf="f.address.errors.name">Address must be a valid</div>
            </div>
            <label for="address">Address</label>
          </div>
  
          <div class="input-field col s12 m12">
            <textarea formControlName="description" id="description" class="materialize-textarea"></textarea>
            <label for="description">Description</label>
          </div>
  
  
  
          <div class="input-field col s12 m6">
            <input   type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted_juridic && f.password.errors }" />
            <div *ngIf="submitted_juridic && f.password.errors" class="invalid-feedback">
              <div *ngIf="f.password.errors.required">Password is required</div>
              <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
            </div>
            <label for="password">Password</label>
          </div>
          
          <div class="input-field col s12 m6">
            <input  id="confirmPass" type="password" formControlName="confirmPass" class="form-control" [ngClass]="{ 'is-invalid': submitted_juridic && f.confirmPass.errors }" />
            <div *ngIf="submitted_juridic && f.confirmPass.errors" class="invalid-feedback">
              <div *ngIf="f.confirmPass.errors.required">Password is required</div>
              <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
            </div>
            <label for="confirmPass">Password Repeat</label>
          </div>

          <div class="input-field col s12 m6">
            <input formControlName="name" id="name" type="text" class="form-control" [ngClass]="{ 'is-invalid': submitted_juridic && f.name.errors }"/>
            <div *ngIf="submitted_juridic && f.name.errors" class="invalid-feedback">
              <div *ngIf="f.name.errors.required">Name is required</div>
              <div *ngIf="f.name.errors.name">Name must be a valid</div>
            </div>
            <label for="ServiceName">Название автосервиса</label>
          </div>



          <div class="input-field col s12 m6">
            <input formControlName="adminName" id="adminName" type="text" class="form-control" [ngClass]="{ 'is-invalid': submitted_juridic && f.adminName.errors }"/>
            <div *ngIf="submitted_juridic && f.adminName.errors" class="invalid-feedback">
              <div *ngIf="f.adminName.errors.required">Service Name is required</div>
              <div *ngIf="f.adminName.errors.name">Service Name must be a valid</div>
            </div>
            <label for="adminName">Администратор</label>
          </div>

          <div class="input-field col s12 m6">
            <input formControlName="adminPhone" id="adminPhone" type="text" class="form-control" [ngClass]="{ 'is-invalid': submitted_juridic && f.adminPhone.errors }"/>
            <div *ngIf="submitted_juridic && f.adminPhone.errors" class="invalid-feedback">
              <div *ngIf="f.adminPhone.errors.required">Service Name is required</div>
              <div *ngIf="f.adminPhone.errors.name">Service Name must be a valid</div>
            </div>
            <label for="adminPhone">Номер Телефона Администратора</label>
          </div>

          <div class="input-field col s12 m6">
            <select formControlName="userType" (change)="onChange($event.target.value)" id="userType" class="form-control">
              <option value="" disabled selected>Выберите категорию</option>
              <option value="service">Service</option>
              <option value="showroom">Showroom</option>
              <option value="tuning">Tuning</option>
              <option value="fitting">Fitting</option>
              <option value="wash">Wash</option>
            </select>
          </div>
  
          <div *ngIf="category.service">
  
            
  
            <div class="col s12 m6">
              <label>
                  <input formControlName="electricians" type="checkbox" class="form-control"/>
                  <span>Ремонт электрики</span>
              </label>
            </div>
            <div class="col s12 m6">
              <label>
                  <input formControlName="conditioner" type="checkbox" class="form-control"/>
                  <span>Ремонт кондиционера</span>
              </label>
            </div>
  
            <div class="col s12 m6">
              <label>
                  <input formControlName="engine" type="checkbox" class="form-control"/>
                  <span>Ремонт двигателя</span>
              </label>
            </div>
  
            <div class="col s12 m6">
              <label>
                  <input formControlName="brake" type="checkbox" class="form-control"/>
                  <span>Ремонт тормозной системы</span>
              </label>
            </div>
  
            <div class="col s12 m6">
              <label>
                  <input formControlName="glass" type="checkbox" class="form-control"/>
                  <span>Автостекла</span>
              </label>
            </div>
            <div class="col s12 m6">
              <label>
                  <input formControlName="exhaustSystem" type="checkbox" class="form-control"/>
                  <span>Ремонт выхлопной системы</span>
              </label>
            </div>
  
            <div class="col s12 m6">
              <label>
                  <input formControlName="transmission" type="checkbox" class="form-control"/>
                  <span>Ремонт трансмиссии</span>
              </label>
            </div>
  
            <div class="col s12 m6">
              <label>
                  <input formControlName="diagnostics" type="checkbox" class="form-control"/>
                  <span>Диагностика</span>
              </label>
            </div>
            
            <div class="col s12 m6">
              <label>
                  <input formControlName="runningGear" type="checkbox" class="form-control"/>
                  <span>Ремонт ходовой части</span>
              </label>
            </div>
  
            <div class="col s12 m6">
            <label>
                  <input formControlName="body" type="checkbox" class="form-control"/>
                  <span>Кузовной ремонт</span>
              </label>
            </div>
  
            <div class="col s12 m6">
              <label>
                  <input formControlName="polishing" type="checkbox" class="form-control"/>
                  <span>Полировка</span>
              </label>
            </div>
  
            <div class="col s12 m6">
              <label>
                  <input formControlName="dents" type="checkbox" class="form-control"/>
                  <span>Вытягивание вмятин без окраса</span>
              </label>
            </div>
            
            <div class="col s12 m6">
              <label>
                  <input formControlName="spares" type="checkbox" class="form-control"/>
                  <span>Предлагаем запасные части для ремонта</span>
              </label>
            </div>
  
            <div class="input-field col s12 m6">
              <select multiple formControlName="cars" id="cars" class="form-control">
                <option value="" selected disabled>Выберите марки с которыми вы работаете</option>
                <option value="kia">Kia</option>
                <option value="mercedes">Mercedes</option>
              </select>
            </div>
  
  
          </div>

          <div *ngIf="category.showroom">
  
            <div class="input-field col s12 m6">
              <input formControlName="name" id="nameshowroom" type="text" class="form-control" [ngClass]="{ 'is-invalid': submitted_juridic && f.name.errors }"/>
              <div *ngIf="submitted_juridic && f.name.errors" class="invalid-feedback">
                <div *ngIf="f.name.errors.required">Service Name is required</div>
                <div *ngIf="f.name.errors.name">Service Name must be a valid</div>
              </div>
              <label for="nameshowroom">Название автосалона</label>
            </div>
  
            <div class="col s12 m6">
              <label>
                  <input formControlName="redemption" type="checkbox" class="form-control"/>
                  <span>Выкуп авто</span>
              </label>
            </div>
  
            <div class="col s12 m6">
              <label>
                  <input formControlName="tradein" type="checkbox" class="form-control"/>
                  <span>Trade-in</span>
              </label>
            </div>
  
            <div class="col s12 m6">
              <label>
                  <input formControlName="leasing" type="checkbox" class="form-control"/>
                  <span>Лизинг</span>
              </label>
            </div>
  
            <div class="col s12 m6">
              <label>
                  <input formControlName="credit" type="checkbox" class="form-control"/>
                  <span>Кредит</span>
              </label>
            </div>
  
            <div class="col s12 m6">
              <label>
                  <input formControlName="partialRedemption" type="checkbox" class="form-control"/>
                  <span>Частичный выкуп</span>
              </label>
            </div>
  
            <div class="col s12 m6">
              <label>
                  <input formControlName="onlyNewAuto" type="checkbox" class="form-control"/>
                  <span>Только новые авто</span>
              </label>
            </div>
  

  
          </div>
          <div *ngIf="category.tuning">
            <div class="col s12 m6">
              <label>
                  <input formControlName="toning" type="checkbox" class="form-control"/>
                  <span>Тонировка</span>
              </label>
            </div>
            <div class="col s12 m6">
              <label>
                  <input formControlName="soundproofing" type="checkbox" class="form-control"/>
                  <span>Шумоизоляция</span>
              </label>
            </div>
            <div class="col s12 m6">
              <label>
                  <input formControlName="vinyl" type="checkbox" class="form-control"/>
                  <span>Обклейка виниловой плёнкой</span>
              </label>
            </div>
            <div class="col s12 m6">
              <label>
                  <input formControlName="engineTuning" type="checkbox" class="form-control"/>
                  <span>Настройка и доработка двигателя</span>
              </label>
            </div>
            <div class="col s12 m6">
              <label>
                  <input formControlName="transmissionTuning" type="checkbox" class="form-control"/>
                  <span>Настройка и доработка КПП</span>
              </label>
            </div>
            <div class="col s12 m6">
              <label>
                  <input formControlName="bodyTuning" type="checkbox" class="form-control"/>
                  <span>Настройка и доработка кузова</span>
              </label>
            </div>
            <div class="col s12 m6">
              <label>
                  <input formControlName="undercarriageTuning" type="checkbox" class="form-control"/>
                  <span>Настройка и доработка ходовой части</span>
              </label>
            </div>
            <div class="col s12 m6">
              <label>
                  <input formControlName="chipTuning" type="checkbox" class="form-control"/>
                  <span>Чип-тюнинг</span>
              </label>
            </div>
            <div class="input-field col s12 m6">
              <select multiple formControlName="cars" id="cars" class="form-control">
                <option value="" selected disabled>Выберите марки с которыми вы работаете</option>
                <option value="kia">Kia</option>
              </select>
            </div>


          </div>
  
          <div *ngIf="category.fitting">
            
            <div class="col s12 m6">
              <label>
                  <input formControlName="correctionIron" type="checkbox" class="form-control"/>
                  <span>Правка железных дисков</span>
              </label>
            </div>
            <div class="col s12 m6">
              <label>
                  <input formControlName="correctionCast" type="checkbox" class="form-control"/>
                  <span>Правка литых дисков</span>
              </label>
            </div>
            <div class="col s12 m6">
              <label>
                  <input formControlName="vulcanization" type="checkbox" class="form-control"/>
                  <span>Услуги вулканизации</span>
              </label>
            </div>
            <div class="col s12 m6">
              <label>
                  <input formControlName="discShop" type="checkbox" class="form-control"/>
                  <span>Магазин дисков</span>
              </label>
            </div>
            <div class="col s12 m6">
              <label>
                  <input formControlName="tireShop" type="checkbox" class="form-control"/>
                  <span>Магазин шин</span>
              </label>
            </div>

          </div>
  
          <div *ngIf="category.wash">
  
            <div class="col s12 m6">
              <label>
                  <input formControlName="washing" type="checkbox" class="form-control"/>
                  <span>Мойка</span>
              </label>
            </div>
            <div class="col s12 m6">
              <label>
                  <input formControlName="dryCleaning" type="checkbox" class="form-control"/>
                  <span>Химчистка</span>
              </label>
            </div>
            <div class="col s12 m6">
              <label>
                  <input formControlName="nanoceramics" type="checkbox" class="form-control"/>
                  <span>Защитное покрытие – нанокерамика</span>
              </label>
            </div>
            <div class="col s12 m6">
              <label>
                  <input formControlName="membrane" type="checkbox" class="form-control"/>
                  <span>Защитное покрытие – антигравийная плёнка</span>
              </label>
            </div>
            <div class="col s12 m6">
              <label>
                  <input formControlName="washVinyl" type="checkbox" class="form-control"/>
                  <span>Обклейка виниловой плёнкой</span>
              </label>
            </div>
            <div class="col s12 m6">
              <label>
                  <input formControlName="cleaningDiscs" type="checkbox" class="form-control"/>
                  <span>Чистка дисков</span>
              </label>
            </div>
            <div class="col s12 m6">
              <label>
                  <input formControlName="washSoundproofing" type="checkbox" class="form-control"/>
                  <span>Шумоизоляция</span>
              </label>
            </div>
            <div class="col s12 m6">
              <label>
                  <input formControlName="washPolishing" type="checkbox" class="form-control"/>
                  <span>Полировка</span>
              </label>
            </div>
          </div>

          <div *ngIf="httpValidation" class="row">
            <div *ngFor="let errorValidation of httpValidation" class="col s12">
              <label>*{{errorValidation}}</label>
            </div>
          </div>
          
          <div class="row">
            <button  class="col m6 offset-m3 btn validate">Submit
              <i class="material-icons right">send</i>
            </button>
          </div>

        </div>
      </form>
    </div>
  </div>