<div class="col s12 m2 l2">

    <div class="card-panel">
      <span class="blue-text text-darken-2">RECLAMA</span>
    </div>
            
  </div>
  <div class="col s12 m8 l8">
      <div class="row">
          <ul id="colaps-id" class="collapsible">
              <li class="active">
                <div class="collapsible-header red lighten-5"><i class="material-icons">search</i>Search</div>
                <div class="collapsible-body ">
                    <div class="row">
                        <div class="col s12 m12 l8">
          
                          <div class="section">
                            <form id="searchForm" [formGroup]="searchForm" (ngSubmit)="onSubmit()">
                                <div class="input-field col s12 m4">
                                    <select (change)="onChangeType($event.target.value)" formControlName="transportType" id="transportType" class="form-control">
                                      <option value="" disabled selected translate>transportType</option>
                                      <option *ngFor="let transportType of ssTransportType" value="{{transportType.name}}">
                                        {{transportType.name | translate}}</option>
                                    </select>
                                </div>
                        
                                <div class="input-field col s12 m4">
                                  <select (change)="onChangeBrand($event.target.value)" formControlName="brand" id="brand" class="form-control">
                                    <option value="" disabled selected translate>brand</option>
                                    <option *ngFor="let brand of currentBrands" value="{{brand.name}}">
                                      {{brand.name || translate}}</option>
                                  </select>
                                </div>
                                
                                <div class="input-field col s12 m4">
                                  <select (change)="onChangeModel($event.target.value)" formControlName="model" id="model" class="form-control">
                                    <option value="" disabled selected translate>model</option>
                                    <option *ngFor="let model of currentModels" value="{{model.name}}">
                                      {{model.name | translate}}</option>
                                  </select>
                                </div>
                        
                                <div class="input-field col s12 m3">
                                  <input formControlName="priceFrom" id="priceFrom" data-length="9" maxlength="9" type="text" class="form-control">
                                  <label for="priceFrom" translate>priceFrom</label>
                                </div>
                        
                                <div class="input-field col s12 m3">
                                  <input formControlName="priceTo" id="priceTo" data-length="9" maxlength="9" type="text" class="form-control">
                                  <label for="priceTo" translate>priceTo</label>
                                </div>
                        
                                <div class="input-field col s12 m3">
                                  <input formControlName="powerFrom" id="powerFrom" data-length="9" maxlength="9" type="text" class="form-control">
                                  <label for="powerFrom" translate>powerFrom</label>
                                </div>
                        
                                <div class="input-field col s12 m3">
                                  <input formControlName="powerTo" id="powerTo" data-length="9" maxlength="9" type="text" class="form-control">
                                  <label for="powerTo" translate>powerTo</label>
                                </div>
                        
                                <div class="input-field col s12 m3">
                                  <select (change)="onChangeYear($event.target.value)" formControlName="yearFrom" id="yearFrom" class="form-control">
                                    <option value="" disabled selected translate>yearsFrom</option>
                                    <option *ngFor="let yer of yearsFrom" value="{{yer.value}}">{{yer.name}}</option>
                                  </select>   
                                </div>
                        
                                <div class="input-field col s12 m3">
                                  <select formControlName="yearTo" id="yearTo" class="form-control">
                                    <option value="" disabled selected ranslate>yearsTo</option>
                                    <option *ngFor="let yer of yearsTo" value="{{yer.value}}">{{yer.name}}</option>
                                  </select>   
                                </div>
                        
                                <div class="input-field col s12 m3">
                                  <input formControlName="mileageFrom" id="mileageFrom" data-length="9" maxlength="9" type="text" class="form-control">
                                  <label for="mileageFrom" translate>mileageFrom</label>
                                </div>
                          
                                <div class="input-field col s12 m3">
                                  <input formControlName="mileageTo" id="mileageTo" data-length="9" maxlength="9" type="text" class="form-control">
                                  <label for="mileageTo" translate>mileageTo</label>
                                </div>
                        
                                <div class="col s12 red lighten-5">
                                  <p>
                                    <label>
                                      <input (change)="changeMore($event.target.checked)" type="checkbox"/>
                                      <span translate>more</span>
                                    </label>
                                  </p>
                                </div>
                        
                                <div *ngIf="more">
                                  <div formArrayName="separated"
                                    *ngFor="let sep of searchForm.get('separated').controls; let i = index;">
                                    <div [formGroupName]="i">
                                        <div class="{{SeparatedName(i).classes}}">
                                          <ng-container *ngIf="SeparatedName(i).type === 'dropdown'; then dropDownTemplate;"></ng-container>
                                          <ng-container *ngIf="SeparatedName(i).type === 'checkbox'; then checkBoxTemplate;"></ng-container>
                                          <ng-container *ngIf="SeparatedName(i).type === 'switch'; then checkBoxTemplate;"></ng-container>
                        
                                          <ng-template #dropDownTemplate>
                            
                                            <select formControlName="{{SeparatedName(i).name}}" id="{{SeparatedName(i).name}}" class="form-control">
                                              <option value="" disabled selected>{{SeparatedName(i).name || translate}}</option>
                                              <option *ngFor="let value of SeparatedName(i).values" value="{{value.name}}">
                                                {{value.name || translate}}</option>
                                            </select>
                            
                                          </ng-template>
                                          <ng-template #checkBoxTemplate>
                            
                                            <label>
                                              <input formControlName="{{SeparatedName(i).name}}" value='false' type="{{SeparatedName(i).type}}" class="form-control">
                                              <span>{{SeparatedName(i).name || translate}}</span>
                                            </label>
                            
                                          </ng-template>
                                          <ng-template #checkBoxTemplate>
                                            <div class="switch">
                                              <label>
                                                  {{SeparatedName(i).name+'_first_value' || translate}}
                                                  <input formControlName="{{SeparatedName(i).name}}" id="{{SeparatedName(i).name}}" class="form-control" type="checkbox">
                                                  <span class="lever"></span>
                                                  {{SeparatedName(i).name+'_second_value' || translate}}
                                              </label>
                                            </div>
                                          </ng-template>
                            
                                        </div>
                                      </div>
                                  </div>
                                </div>
                                <div class="row"></div>
                                <div class="row">
                                  <button class="col s8 offset-s2 btn validate">Submit
                                    <i class="material-icons right">search</i>
                                  </button>
                                </div>
                            </form>
                          </div>
                        </div>
                  
                        <div class="col s12 m12 l4">
                          <div class="row section">
                            <div class="col s12">
                                <h4>Average</h4>
                                <form id="averageForm" [formGroup]="averageForm" (ngSubmit)="onSubmitAverage()">
                                    <div class="input-field col s6">
                                    <select (change)="onChangeType2($event.target.value)" formControlName="transportType" id="transportType" class="form-control">
                                        <option value="" disabled selected translate>transportType</option>
                                        <option *ngFor="let transportType of ssTransportType" value="{{transportType.name}}">
                                        {{transportType.name | translate}}</option>
                                    </select>
                                    </div>
                                    <div class="input-field col s6">
                                        <select (change)="onChangeBrand2($event.target.value)" formControlName="brand" id="brand" class="form-control">
                                        <option value="" disabled selected translate>brand</option>
                                        <option *ngFor="let brand of currentBrands2" value="{{brand.name}}">
                                            {{brand.name || translate}}</option>
                                        </select>
                                    </div>
                                    <div class="input-field col s6">
                                    <select (change)="onChangeModel2($event.target.value)" formControlName="model" id="model" class="form-control">
                                        <option value="" disabled selected translate>model</option>
                                        <option *ngFor="let model of currentModels2" value="{{model.name}}">
                                            {{model.name | translate}}</option>
                                    </select>
                                    </div>
                                    <div class="input-field col s6">
                                    <select formControlName="year" id="year" class="form-control">
                                        <option value="" disabled selected translate>year</option>
                                        <option *ngFor="let yer of yearsFrom" value="{{yer.value}}">{{yer.name}}</option>
                                    </select>   
                                    </div>
                                    <button class="btn validate">Get Averrage Price</button>
                                    
                                </form>
                                <div *ngIf="averageSubmitted">{{'Average is:' | translate}} {{Average}}</div>
                  
                            </div>
                          </div>
                  
                          <div class="divider"></div>
                          <div class="row section">
                            <div class="col s12">
                              <span class="blue-text text-darken-2">Супер предложение</span>
                            </div>
                          </div>
                  
                        </div>
                      </div>
                </div>
              </li>
            </ul>

        
      </div>
      
        <div id="result" class="row red lighten-5">
          <div *ngIf="resulted">
              <div class="card-panel col s10 offset-s1 hoverable" *ngFor="let item of resultData; let i=index">
                <div (click)="navigate(item.id)" class="row" style="cursor:pointer">
                  <div class="col s3">
                      <img src="assets/img/3.jpg" style="padding-top: 1.7rem" class="responsive-img">
                  </div>
                  <div class="col s7">
                    <p>Nazvanie</p>
                    <div class="divider"></div>
                    <p>{{item.cubage}} | {{item.power}} | {{item.engine.name}}</p>
                      {{item.creationDateTime}}, {{item.brand.name}}, {{item.model.name}}, {{item.engine.name}}, {{item.price}}, 
                  </div>
                  <div class="col s2">
                    <div class="valign-wrapper">
                        <h5 class="valign center">PRICE</h5>
                    </div>

                    
                  </div>
                </div>
              </div>
          </div>
        </div>
        
  </div>
  <div class="col s12 m2 l2">

      <div class="card-panel">
        <span class="blue-text text-darken-2">RECLAMA</span>
      </div>
      
  </div>
