<div class="row">
    <div class="col m10 s12 offset-m1">
        <div class="row">
            <div class="col s12 center-align"></div>
          </div>
          <div class="row card-panel">
            
            <div class="col s6">
              <h4 class="left-align">{{title}}</h4>
            </div>
            <div class="col s6">
                <h4 class="right-align">{{price}}</h4>
            </div>
            <div class="col s12 m5">
              <div class="row">
                  <div class="col s12">
                    <a href="assets/img/1.jpg" data-lightbox="ad-images"> 
                      <img src="assets/img/1.jpg" alt="" class="responsive-img">
                    </a>
                  </div>
                  <div class="col s3">
                      <a href="assets/img/1.jpg" data-lightbox="ad-images"> 
                        <img src="assets/img/1.jpg" alt="" class="responsive-img">
                      </a>
                  </div>
                  <div class="col s3">
                      <a href="assets/img/2.jpg" data-lightbox="ad-images"> 
                        <img src="assets/img/2.jpg" alt="" class="responsive-img">
                      </a>	
                  </div>
                  <div class="col s3">
                      <a href="assets/img/2.jpg" data-lightbox="ad-images"> 
                        <img src="assets/img/2.jpg" alt="" class="responsive-img">
                      </a>
                  </div>
                  <div class="col s3">
                      <a href="assets/img/3.jpg" data-lightbox="ad-images"> 
                        <img src="assets/img/3.jpg" alt="" class="responsive-img">
                      </a>	
                  </div>
                  <div class="col s3">
                      <a href="assets/img/3.jpg" data-lightbox="ad-images"> 
                        <img src="assets/img/3.jpg" alt="" class="responsive-img">
                      </a>
                  </div>
              </div>
                  
            </div>
            <div class="col s12 m7">
          
              <p>{{'year' | translate}}: {{year}}</p>
              <p>{{'body' | translate}}: {{body}}</p>
              <p>{{'color' | translate}}: {{color}}</p>
              <p>{{'engine' | translate}}: {{engine}}</p>
              <p>{{'cubage' | translate}}: {{cubage}}</p>
              <p>{{'power' | translate}}: {{power}}</p>
              <p>{{'transmission' | translate}}: {{transmission}}</p>
              <p>{{'mileage' | translate}}: {{mileage}}</p>
              <p>{{'registration' | translate}}: {{registration}}</p>
          
            </div>
          </div>
          <div class="row">
            <div class="col s12"><blockquote>{{additionalInfo}}</blockquote></div>
            <div class="col s12">
              <div class="row">
                  <div class="col s6 m3" *ngFor="let item of checkboxes; let i=index">
                    <label>
                      <input id="checkbox-{{i}}" type="checkbox" disabled="disabled" checked="{{item.value}}" />
                      <span>{{item.name | translate}}</span>
                    </label>
                  </div>
              </div>
            </div>
          </div>
    </div>
</div>



